.pContainer {
    text-align: center;
    width: 100%;
}

.title {
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 8vh;
    text-align: center;
    letter-spacing: 0.8vh;
}

.row {
    display: flex;
    width: 100%;
}

.movielist {
    width: 10%;
    height: 7vh;
    /* border: 1px solid black; */
    /* background-color: #bfbfbf; */
    background: radial-gradient(white, #78797a);
    margin: auto;
    margin-bottom: 5vh;
    border-radius: 1vh;
}