.searchBtn {
    border: 1px solid #046ab8;
    background-color: #046ab8;
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    border-radius: 2rem;
    width: 8%;
    padding: 0.6vh;
    padding-bottom: 1vh;
    font-weight: 550;
}

.searchBtn:hover {
    background-color: #03599c;
    border: 1px solid #03599c;
}

.searchCont {
    width: 100%;;
}

.Form {
    width: 100%;
    text-align: center;
}

.searchBar {
    width: 65%;
    height: 3.6vh;
    font-size: 2vh;
    border-radius: 3rem;
    padding: 0.5vh;
    padding-left: 2.8vh;
    margin-right: 2vh;
    background-color: #dedede;
    border: 1px solid #dedede;
}

.searchBar:focus {
    border: 1px solid #dedede;
}
